.input-form {
  width: 75%;
  /* border: 1px solid green; */
  margin: 0 auto;
  padding: 10px 30px;
  background-color: rgba(248, 249, 249, 0.2);
  border-radius: 20px;
}

.user-input-container {
  width: 75%;
  margin: 0 auto;
}

.user-input {
  width: 100%;
  font-size: 1.5em;
  border-style: hidden;
  border-bottom: 0.5px solid #ddd;
  border-radius: 5px;
}

.gender-button {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
}

button:first-child {
  margin-right: 20px;
}
