.input-form {
  width: 640px;
  border: 1px solid green;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: #eee;
}

.user-input {
  width: 75%;
  margin: 0 auto;
}

.email-input {
  /* temp background color */
  background-color: rgb(219, 186, 219);

  width: 100%;
  font-size: 1.8em;
  border-style: hidden;
  border-bottom: 0.5px solid #ddd;
  border-radius: 5px 5px 0 0;
  outline: none;
}

.gender-button {
  width: 45%;
  padding: 40px;
}

button:first-child {
  margin-right: 20px;
}
