* {
  box-sizing: border-box;
}

body {
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid red;
  font-size: 16px;
  background-image: linear-gradient(blue, #85c1e9);
  /* background-image: linear-gradient(#85c1e9, #ebf5fb); */
  height: 100vh;
}
